.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rgq{
  right:12px;
}

.one{
  color:#98EECC;
}

.dt{
  color: #AEE2FF;
}

.dt,.line,.day{
  display: inline;
  
}

.line{
  color:#A0D8B3;
}

.day{
  color:#D4FAFC;
}

.load{
  color:royalblue;
}

.qttext{
  color:#FF6D60;
}

.by{
  color:#454545;
}

.qtauthor{
  color:#E11299;
}
.btn{
  color:#B0A4A4;
  text-decoration:wavy;
  border-color: gray;
  border-radius:12px;
  border: -2px;
  
}
.btn:hover{
  
  border-color: #B3C99C;
  cursor:pointer;
  
}


